<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="entity" value="none"/>
		<add key="projectPath" value="none"/>
		<add key="dataAccessPath" value="none"/>
		<add key="businessPath" value="none"/>
		<add key="context" value="none"/>
		<add key="dataAccessAbstract" value="none"/>
		<add key="dataAccessConcrete" value="none"/>
		<add key="BusinessAbstract" value="none"/>
		<add key="BusinessConcrete" value="none"/>
	</appSettings>
</configuration>